/* design for chat page */

.chat-wrapper{
  padding: 50px 0;
}

.chat-wrapper .chat-online,
.chat-wrapper .chat-box{
  height: 80vh;
  background: var(--alt-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.chat-online{
  padding: 20px 15px;
}

.chat-box .chat-form{
  position: sticky;
  width: 100%;
  bottom: 0;
  background: var(--alt-color);
  padding: 20px;
  box-sizing: border-box;
}

.chat-box .sender-btn:hover{
  color: var(--primary);
}

/* chat box header */
.chat-box .chat-box-header{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--alt-color);
}

/* chat cards for messeges */
.chat-card{
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  cursor: pointer;
  padding: 8px;
  border-bottom: 2px solid #cecece;
  display: flex;
  align-items: center;
}
.chat-card.active{
  background: #e1e1e1;
  border-radius: 5px;
}

.chat-card .sender-img,
.chat-box .chat-box-header .sender-img{
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;overflow: hidden;
}


/* .chat msg */
.chat-box .show-chat .received{
  width: 50%;
  padding: 10px 7px;
  background: var(--primary);
  color: var(--font-color-alt);
  border-radius: 5px;
}
.chat-box .show-chat .sent{
  width: 50%;
  padding: 10px 7px;
  background: rgb(255, 60, 46);
  color: var(--font-color-alt);
  border-radius: 5px;
  margin-left: auto;
}